// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: 35px;
  margin-bottom: 85px;
  border-top: 1px solid $base-border-color;
  text-align: center;
  p {
    font-size: 15px;
    color: $gray-light;
  }
  a {
    text-decoration: none;
  }
}
